/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.botoes-opcoes {
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes-opcoes:hover {
  cursor: pointer;
  background-color: bisque;   
}

.container {
  position: relative;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campos {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.botoes {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin : 30px
}

#botao-confirmar {
  width: 100%;
}

input, select {
  width: 200px;
  border-style: solid;
  border-radius: 5px;
}

.dica-telefone {
  font-size: xx-small;
}